/* Theme 1 */
:root {
  /* Backgrounds */

  --main-background: hsl(222, 26%, 31%);
  --toggle-background: hsl(223, 31%, 20%);
  --screen-background: hsl(224, 36%, 15%);

  /* Keys */

  --keybackground: hsl(225, 21%, 49%);
  --key-shadow-blue: hsl(224, 28%, 35%);
  --key-background-toggle: hsl(6, 63%, 50%);
  --keyshadow-red: hsl(6, 70%, 34%);
  --orange-key-background: hsl(30, 25%, 89%);
  --orange-key-shadow: hsl(28, 16%, 65%);

  /* Text */

  --text-color-one: hsl(221, 14%, 31%);
  --text-color-two: hsl(0, 0%, 100%);
  --text-color-three: hsl(0, 0%, 100%);
}

/* theme 2 */
body.theme2 {
  /* Backgrounds */

  --main-background: hsl(0, 0%, 90%);
  --toggle-background: hsl(0, 5%, 81%);
  --screen-background: hsl(0, 0%, 93%);

  /* Keys */

  --keybackground: hsl(185, 42%, 37%);
  --key-shadow-blue: hsl(185, 58%, 25%);
  --key-background-toggle: hsl(25, 98%, 40%);
  --keyshadow-red: hsl(25, 99%, 27%);
  --orange-key-background: hsl(45, 7%, 89%);
  --orange-key-shadow: hsl(35, 11%, 61%);

  /* Text */

  --text-color-one: hsl(60, 10%, 19%);
  --text-color-two: hsl(0, 0%, 100%);
  --text-color-three: hsl(60, 10%, 19%);
}

body.theme3 {
  /* Backgrounds */

  --main-background: hsl(268, 75%, 9%);
  --toggle-background: hsl(268, 71%, 12%);
  --screen-background: hsl(268, 71%, 12%);

  /* Keys */

  --keybackground: hsl(281, 89%, 26%);
  --key-shadow-blue: hsl(285, 91%, 52%);
  --key-background-toggle: hsl(176, 100%, 44%);
  --keyshadow-red: hsl(177, 92%, 70%);
  --orange-key-background: hsl(268, 47%, 21%);
  --orange-key-shadow: hsl(290, 70%, 36%);

  /* Text */

  --text-color-one: hsl(52, 100%, 62%);
  --text-color-three: hsl(52, 100%, 62%);
  --text-color-two: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 32px;
  font-family: "League Spartan", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--main-background);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 400px;
}

.bottom {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  background-color: var(--toggle-background);
  padding: 20px;
  width: 100%;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.screen {
  background-color: var(--screen-background);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 20px;
  border-radius: 7px;
}

.screen input {
  height: 40px;
  background: none;
  border: none;
  text-align: right;
}

.screen input::placeholder {
  font-size: 32px;
  font-family: inherit;
  color: var(--text-color-three);
}

.screen input {
  font-size: 32px;
  font-family: inherit;
  color: var(--text-color-three);
}

.btn {
  background-color: var(--orange-key-background);
  padding: 5px 30px;
  border: none;
  font-size: 32px;
  font-family: inherit;
  box-shadow: 0px 3px var(--orange-key-shadow);
  border-radius: 7px;
  color: var(--text-color-one);
  font-weight: 700;
}

.equal {
  padding: 5px 30px;
  border: none;
  font-size: 32px;
  font-family: inherit;
  background-color: var(--key-background-toggle);
  color: var(--text-color-two);
  box-shadow: 0px 3px var(--keyshadow-red);
  border-radius: 7px;
}

.reset {
  padding: 5px 30px;
  border: none;
  font-size: 20px;
  background-color: var(--keybackground);
  color: var(--text-color-two);
  font-family: inherit;
  box-shadow: 0px 3px var(--key-shadow-blue);
  border-radius: 7px;
}

.delete {
  padding: 5px 30px;
  border: none;
  font-size: 20px;
  font-family: inherit;
  background-color: var(--keybackground);
  color: var(--text-color-two);
  box-shadow: 0px 3px var(--key-shadow-blue);
  border-radius: 7px;
}

.dot {
  padding: 5px 30px;
  border: none;
  font-size: 32px;
  font-family: inherit;
}

button {
  cursor: pointer;
}

.seven {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}

.one {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
}

.two {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 3;
}

.three {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 3;
  grid-column-end: 4;
}

.four {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
}

.five {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}

.six {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 4;
}

.zero {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 3;
}

.eight {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
}

.nine {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 3;
  grid-column-end: 4;
}

.equal {
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 3;
  grid-column-end: 5;
}

.divide {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 3;
  grid-column-end: 4;
}

.add {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 4;
  grid-column-end: 5;
}

.subtract {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 4;
  grid-column-end: 5;
}

.multiply {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 4;
  grid-column-end: 5;
}

.reset {
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 1;
  grid-column-end: 3;
}

.delete {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 4;
  grid-column-end: 5;
}

.dot {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 2;
}

h3 {
  color: var(--text-color-three);
  font-size: 30px;
}

.slider span {
  font-size: 0.8rem;
  color: var(--text-color-three);
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.numbers {
  display: flex;
  flex-direction: column;
}

.group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3px;
}
